form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    /* justify-content: center; */
}

.titre{
    width: 80%;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(28, 29, 29);
    font-size: 1rem;
    align-content: center;
    text-transform: uppercase;
    text-align: center;
}
